// Variables

// Colores
$fondo:#ffffff;
$texto: #333;
$border:#ccc;

// Medidas
$largoCaja: 355px;
// $anchoCaja:180px;
$borderCaja:1px;
$borderTop: 5px;
$image:75px;
$titulo:20px;
$available:12px;

// Paddings
$quince:15px;
$veinte:20px;
$diez:10px;


// Estilos 
#container{
    width: $largoCaja;
    background-color: aqua;
    border-left: 1px solid $border;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    border-top: $borderTop solid $texto;
}

.image{
    padding: $veinte $diez $veinte $quince;
    width: $image;
}